# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*

# Builds de TypeScript
dist/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log

# Archivos del sistema
.DS_Store
Thumbs.db